extends ../common/greetings

block title
  | New follower on your channel

block content
  p.
    Your #{followType} #[a(href=followingUrl) #{followingName}] has a new subscriber: 
    #[a(href=followerUrl) #{followerName}].