extends ../common/greetings

block title
  | Email verification

block content
  if isRegistrationRequest
    p You just requested an account on #[a(href=WEBSERVER.URL) #{instanceName}].
  else
    p You just created an account on #[a(href=WEBSERVER.URL) #{instanceName}].

  if isRegistrationRequest
    p To complete your registration request you must verify your email first!
  else
    p To start using your account you must verify your email first!

  p Please follow #[a(href=verifyEmailUrl) this link] to verify this email belongs to you.
  p If you can't see the verification link above you can use the following link #[a(href=verifyEmailUrl) #{verifyEmailUrl}]
  p If you are not the person who initiated this request, please ignore this email.
