extends ../common/greetings
include ../common/mixins.pug

block title
  | New message on abuse report

block content
  p
    | A new message by #{messageAccountName} was posted on #[a(href=abuseUrl) abuse report ##{abuseId}] on #{WEBSERVER.HOST}
  blockquote #{messageText}
  br(style="display: none;")
