extends ../common/greetings
include ../common/mixins.pug

block title
  | A comment is pending moderation

block content
  p
    | #[a(href=WEBSERVER.URL) #{instanceName}] received an abuse report for the #{isLocal ? '' : 'remote '}
    a(href=commentUrl) comment on video "#{videoName}"
    |  of #{flaggedAccount}
    |  created on #{commentCreatedAt}

  p The reporter, #{reporter}, cited the following reason(s):
  blockquote #{reason}
  br(style="display: none;")
